div.radio-wrapper {
    display: grid;
    justify-content: center;
}

div.radio-container {
    display: flex;
}

div.radio {
    background-color: rgb(146, 146, 146);
    border-radius: 8px;
}

div.radio-top-row {
    display: flex;
    margin: 10px;
}

div.radio-display-wrapper {
    flex: 1;
}

div.knob-container {
    display: flex;
    flex-direction: column;
    padding: 7px;
}

button.knob {
    font-size: 18px;
    padding: 10px 10px;
    background-color: rgb(33, 33, 33);
    border-radius: 100px;
    margin: 3px;
    border: none;
}

button.knob:hover {
    background-color: rgb(94, 94, 94);
}

button.knob:active {
    background-color: rgb(66, 66, 66);
}

div.radio-presets {
    margin: 10px;
}

div.station-drawer-container {
    display: flex;
    justify-content: center;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}