<h1>Car Radio</h1>
<a href="https://www.radio-browser.info" target="_blank">Find Stations</a>
<div class="radio-wrapper">
  <div class="radio-container">
    <div class="radio">
      <div class="radio-top-row">
        <div class="knob-container">
          <span class="knob-label">Power</span>
          <button class="knob" type="button" (click)="onPowerClick()"></button>
        </div>
        <div class="radio-display-wrapper">
          <app-display></app-display>
        </div>
        <div class="knob-container">
          <span class="knob-label">Tuner</span>
          <button class="knob" type="button" (click)="onTunerClick()"></button>
        </div>
      </div>
      <div class="radio-presets">
        <app-preset-button
          *ngFor="let preset of [1, 2, 3, 4, 5, 6]"
          preset="{{ preset }}"
          (clickShort)="tunePreset($event)"
          (clickLong)="setPreset($event)"
        ></app-preset-button>
      </div>
    </div>
  </div>
  <div class="station-drawer-container">
    <app-station-tuner [station]="presetStation" [visible]="drawerVisible"></app-station-tuner>
  </div>
</div>