<h1>Car Radio</h1>
<div class="radio-wrapper">
  <div class="radio-container">
    <div class="radio">
      <div class="radio-top-row">
        <div class="knob-container">
          <span class="knob-label">Power</span>
          <button class="knob" type="button"></button>
        </div>
        <div class="radio-display">
          <div id="station-name">KEBM Jazz 88</div>
          <div id="station-freq">88.5</div>
        </div>
        <div class="knob-container">
          <span class="knob-label">Tuner</span>
          <button class="knob" type="button"></button>
        </div>
      </div>
      <div class="radio-presets">
        <button class="preset" type="button">1</button>
        <button class="preset" type="button">2</button>
        <button class="preset" type="button">3</button>
        <button class="preset" type="button">4</button>
        <button class="preset" type="button">5</button>
        <button class="preset" type="button">6</button>
      </div>
    </div>
  </div>
  <div class="station-drawer-container">
    <div class="station-drawer">
      <form>
        <div class="form-group">
          <label for="name">Station Name: </label>
          <input type="text" id="name" required>
        </div>
        <div class="form-group">
          <label for="freq">Frequency: </label>
          <input type="text" id="freq" required>
        </div>
        <div class="form-group">
          <label for="stream">Stream URL: </label>
          <input type="text" id="stream" required>
        </div>
        <button type="submit">Tune</button>
      </form>
    </div>
  </div>
</div>