<h1>Car Radio</h1>
<div class="radio-wrapper">
  <div class="radio-container">
    <div class="radio">
      <div class="radio-top-row">
        <div class="knob-container">
          <span class="knob-label">Power</span>
          <button class="knob" type="button" (click)="onPowerClick()"></button>
        </div>
        <div class="radio-display-wrapper">
          <app-display></app-display>
        </div>
        <div class="knob-container">
          <span class="knob-label">Tuner</span>
          <button class="knob" type="button"></button>
        </div>
      </div>
      <div class="radio-presets">
        <app-preset-button preset=1></app-preset-button>
        <app-preset-button preset=2></app-preset-button>
        <app-preset-button preset=3></app-preset-button>
        <app-preset-button preset=4></app-preset-button>
        <app-preset-button preset=5></app-preset-button>
        <app-preset-button preset=6></app-preset-button>
      </div>
    </div>
  </div>
  <div class="station-drawer-container">
    <app-station-tuner></app-station-tuner>
  </div>
</div>