div.radio-wrapper {
    display: grid;
    justify-content: center;
}

div.radio-container {
    display: flex;
}

div.radio {
    background-color: rgb(146, 146, 146);
    border-radius: 8px;
}

div.radio-top-row {
    display: flex;
    margin: 10px;
}

div.radio-display {
    background-color: rgb(165, 246, 106);
    color: rgb(48, 111, 29);
    display: flex;
    flex: 1;
    margin: 3px;
    padding: 10px;
    border-radius: 8px;
}

div.radio-display > div {
    font-size: 1.5em;
}

div#station-name {
    flex: 1;
}
div#station-freq {
    text-align: right;
}

div.knob-container {
    display: flex;
    flex-direction: column;
    padding: 7px;
}

button.knob {
    font-size: 18px;
    padding: 10px 10px;
    background-color: rgb(33, 33, 33);
    border-radius: 100px;
    margin: 3px;
    border: none;
}

button.knob:hover {
    background-color: rgb(94, 94, 94);
}

button.knob:active {
    background-color: rgb(66, 66, 66);
}

div.radio-presets {
    margin: 10px;
}

button.preset {
    font-size: 18px;
    color:ghostwhite;
    padding: 10px 30px;
    background-color: rgb(94, 94, 94);
    border-radius: 17px;
    border: none;
    margin: 0px 5px;
}

button.preset:hover {
    background-color: darkgray;
}

button.preset:active {
    background-color: grey;
}

div.station-drawer-container {
    display: flex;
    justify-content: center;
}

div.station-drawer {
    background-color: rgb(213, 213, 213);
    padding: 20px;
    margin: 0px 20px;
    border-radius: 0px 0px 8px 8px;
    border-style: solid;
    border-color: rgb(146, 146, 146);
    border-width: 0px 2px 2px 2px;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}